.contenedor {
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: #5e60ce;
}

.contenido {
    height: auto;
    min-height: 100%;
    width: 80%;
}

.anuncios{
    height: auto;
    min-height: 100%;
    width: 20%;
    background-color: crimson;
}

.titulo{
    font-size: 40px;
    color: bisque;
}

.titulo-contenedor{
    padding-left:50px;
    padding-top:60px ;
    padding-bottom: 10px;
}