<div class="container my-5">

    <div class="d-flex">
        <div style="margin-right: 10px ">
            <h1>REPORTE DE SUSCRIPCIONES</h1>
        </div>

        <div class=" d-flex align-items-center me-auto">
            <form (ngSubmit)='solicitarReporte()' autocomplete="off" [formGroup]="miFormulario">
                <label>Fecha inicial</label>
                <input style="width: 140px; " formControlName="fechaInicial" type="date" name="fechaInicial" />
                <label style="padding-left: 8px">Fecha final</label>
                <input style="width: 140px;" formControlName="fechaFinal" type="date" name="fechaFinal" />
                <input type="submit" value="Mostrar" />
            </form>
        </div>

        <div class=" d-flex align-items-center">
            <a class="btn btn-outline-primary" [href]="urlPeticionReporte()">EXPORTAR REPORTE</a>
        </div>
    </div>
    <br>
    <div *ngFor="let reporte of reportes">
        <table class="table tabla">
            <thead class="table-dark">
                <tr class="bordes">
                    <td><strong>Revista: </strong> {{reporte.datosRevista.nombreRevista}} </td>
                    <td><strong>Numero de suscripciones:</strong> {{reporte.numSuscripciones}}</td>
                </tr>
                <tr class="bordes">
                    <td colspan="2"><strong>Editor: </strong> {{reporte.datosRevista.nombreEditor}}</td>
                </tr>
                <tr>
                    <th>NOMBRE DE USUARIO</th>
                    <th>FECHA DE SUSCRIPCION</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let registro of reporte.suscripciones">
                    <td>{{registro.nombreUsuario}}</td>
                    <td>{{registro.fechaSuscripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>




</div>