<div class="contenedor">

    <mat-card class="tamano redondear" fxLayout="column">
        <mat-card-title class="centrar">
            <div>REPORTES</div>
        </mat-card-title>
        <button mat-raised-button routerLink='/administrador/reportes/ganancias-revistas' type="button"
            class="full-width elemento" color="primary">
            Reporte de ganancias por revista
        </button>
        <button mat-raised-button routerLink='/administrador/reportes/ganancias-anuncios' type="button"
            class="full-width elemento" color="primary">
            Reporte de ganancias por anuncios
        </button>
        <button mat-raised-button routerLink='/administrador/reportes/ganancias-totales' type="button"
            class="full-width elemento" color="primary">
            Reporte de ganancias totales
        </button>
        <button mat-raised-button routerLink='/administrador/reportes/populares' type="button"
            class="full-width elemento" color="primary">
            Reporte de revistas populares
        </button>
        <button mat-raised-button routerLink='/administrador/reportes/mas-comentadas' type="button"
            class="full-width elemento" color="primary">
            Reporte de revistas mas comentadas
        </button>
        <button mat-raised-button routerLink='/administrador/reportes/anuncios' type="button"
            class="full-width elemento" color="primary">
            Reporte de anuncios
        </button>
        <button mat-raised-button routerLink='/administrador/reportes/efectividad-anuncios' type="button"
            class="full-width elemento" color="primary">
            Reporte de efectividad de anuncios
        </button>

    </mat-card>
</div>