<div class="container my-5">

    <div class="d-flex">
        <div style="margin-right: 10px ">
            <h1>REPORTE DE REVISTAS MAS COMENTADAS</h1>
        </div>

        <div class=" d-flex align-items-center me-auto">
            <form>
                <label>Fecha inicial</label>
                <input style="width: 140px; " type="date" name="fechaInicial" />
                <label style="padding-left: 8px">Fecha final</label>
                <input style="width: 140px;" type="date" name="fechaFinal" />
                <input type="submit" value="Mostrar" />
            </form>
        </div>

        <div class=" d-flex align-items-center">
            <a class="btn btn-outline-primary" href="http://localhost:8080/REVISTLAND/controladorReportesAdministrador?reporte=reporteRevistasMasComentadas">EXPORTAR REPORTE</a>
        </div>
    </div>
    <br>
    <br>
    <div>
        <table class="table tabla">
            <thead class="table-dark">
                <tr class="bordes">
                    <td colspan="3"><strong>Revista: </strong> Las historias de lol </td>
                </tr>
                <tr class="bordes">
                    <td colspan="3"><strong>Editor: </strong> NombreEditor</td>
                </tr>
                <tr class="bordes">
                    <td colspan="3"><strong>Numero de comentarios: </strong> 53</td>
                </tr>
                <tr>
                    <th>NOMBRE DE USUARIO</th>
                    <th>COMENTARIO</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brayan</td>
                    <td>oeu</td>
                    <td>21/12/21</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>