.full-width {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.redondear {
    border-radius: 20px;
}

.tamano {
    width: 500px;
    height: auto;
}

.fondo {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.centrar {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.titulo {
    font-size: 33px;
}

.subtitulo{
    margin-top: 25px;
    margin-bottom: 10px;
}

.tamano-sub{
    font-size: 23px;
}

.detalle{
    font-size: 19px;
}

.boton{
    height: 40px;
}

.select-date{
    border:none;
    border-bottom: 1px solid #777777;
    width: 57%;
    font-size: 23px;
    background: #424242;
    color: blanchedalmond;
}