

.registro{
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.login {
    width: 100%;
    max-width: 380px;
    text-align: center;
}


.redondear{
    border-radius: 20px;
}

.vinculo{
    color: white;
    font-size: 18px;
}

.tamano-titulo{
    font-size: 30px;
}

.margen{
    margin: 15px 30px;
}

.tamano-letra{
    font-size: 20px;
}

.borde-icono {
    border: 11px solid white;
    padding: 10px;
    border-radius: 130px;
}

.select-date{
    border:none;
    border-bottom: 1px solid #777777;
    width: 50%;
    font-size: 13px;
    background: #424242;
    color: blanchedalmond;
}