<div class="container my-5">

    <div class="d-flex">
        <div style="margin-right: 10px ">
            <h1>REPORTE DE GANANCIAS POR ANUNCIOS</h1>
        </div>



        <div class=" d-flex align-items-center me-auto">
            <form>
                <label>Fecha inicial</label>
                <input style="width: 140px; " type="date" name="fechaInicial" />
                <label style="padding-left: 8px">Fecha final</label>
                <input style="width: 140px;" type="date" name="fechaFinal" />
                <input type="submit" value="Mostrar" />
            </form>
        </div>

        <div class=" d-flex align-items-center">
            <a class="btn btn-outline-primary" href="#">EXPORTAR REPORTE</a>
        </div>
    </div>

    <div class="contenedor d-inline-flex tabla">
        GANANCIA TOTAL:
        80
    </div>
    <br>
    <br>
    <div>
        <table class="table tabla">
            <thead class="table-dark">
                <tr class="bordes">
                    <td colspan="5"><strong>Anunciante: </strong> Coca Cola </td>
                </tr>
                <tr class="bordes">
                    <td colspan="5"><strong>Ganancia total: </strong> 18</td>
                </tr>
                <tr class="bordes">
                    <td colspan="5"><strong>Numero de anuncios: </strong> 6</td>
                </tr>
                <tr>
                    <th>FECHA DE COMPRA</th>
                    <th>TIPO DE ANUNCIO</th>
                    <th>PRECIO POR DIA</th>
                    <th>NUMERO DE DIAS</th>
                    <th>GANANCIA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>21/12/21</td>
                    <td>Brayan</td>
                    <td>300</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>