<div class="container my-5">

    <div class="d-flex">
        <div style="margin-right: 10px ">
            <h1>REPORTE DE GANANCIAS POR ANUNCIOS</h1>
        </div>



        <div class=" d-flex align-items-center me-auto">
            <form (ngSubmit)='solicitarReporte()' autocomplete="off" [formGroup]="miFormulario">
                <label>Fecha inicial</label>
                <input style="width: 140px; " formControlName="fechaInicial" type="date" name="fechaInicial" />
                <label style="padding-left: 8px">Fecha final</label>
                <input style="width: 140px;" formControlName="fechaFinal" type="date" name="fechaFinal" />
                <input type="submit" value="Mostrar" />
            </form>
        </div>

        <div class=" d-flex align-items-center">
            <a class="btn btn-outline-primary" [href]="urlPeticionReporte()">EXPORTAR REPORTE</a>
        </div>
    </div>
    <div *ngFor="let reporte of reportes">
        <div class="contenedor d-inline-flex tabla">
            GANANCIA TOTAL:
            {{reporte.gnanciaTotal}}
        </div>
        <br>
        <br>
        <div *ngFor="let tabla of reporte.tablas">
            <table class="table tabla">
                <thead class="table-dark">
                    <tr class="bordes">
                        <td colspan="5"><strong>Anunciante: </strong> {{tabla.nombreAnunciante}} </td>
                    </tr>
                    <tr class="bordes">
                        <td colspan="5"><strong>Ganancia total: </strong> {{tabla.gananciaTotal}}</td>
                    </tr>
                    <tr class="bordes">
                        <td colspan="5"><strong>Numero de anuncios: </strong> {{tabla.numAnuncios}}</td>
                    </tr>
                    <tr>
                        <th>FECHA DE COMPRA</th>
                        <th>TIPO DE ANUNCIO</th>
                        <th>PRECIO POR DIA</th>
                        <th>NUMERO DE DIAS</th>
                        <th>GANANCIA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of tabla.registros">
                        <td>{{registro.fichaCompra}}</td>
                        <td>{{registro.tipoAnuncio}}</td>
                        <td>{{registro.precioPorDia}}</td>
                        <td>{{registro.numDias}}</td>
                        <td>{{registro.ganancia}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>