.spacer {
    flex: 1 1 auto;
  }

  .full-width {
    width: 60%;
  }

  .toolbar {
    height: 100px;
  }

  .buscador{
      font-size: 25px;
  }

  .boton{
      height: 50%;
      width: 10%;
      font-size: 25px;
  }

  .clickeable{
    cursor: pointer;
  }

  .contenido {
    height: auto;
    min-height: 100%;
    width: 80%;
}

.anuncios{
    height: auto;
    min-height: 100%;
    width: 20%;
}

.contenedor {
  height: auto;
  min-height: 100%;
  width: 100%;
  background-color: #5e60ce;
}