<div class="contenedor">

    <mat-card class="tamano redondear" fxLayout="column">
        <mat-card-title class="centrar">
            <div>REPORTES</div>
        </mat-card-title>
        <button mat-raised-button routerLink='/editor/reportes/comentarios' type="button" class="full-width elemento"
            color="primary">
            Reporte de comentarios
        </button>
        <button mat-raised-button routerLink='/editor/reportes/suscripciones' type="button" class="full-width elemento"
            color="primary">
            Reporte de suscripciones
        </button>
        <button mat-raised-button routerLink='/editor/reportes/revistas-mas-gustadas' type="button"
            class="full-width elemento" color="primary">
            Reporte de revistas mas gustadas
        </button>
        <button mat-raised-button routerLink='/editor/reportes/ganancias' type="button" class="full-width elemento"
            color="primary">
            Reporte de ganancias
        </button>

    </mat-card>
</div>