<div class="container my-5">

    <div class="d-flex">
        <div style="margin-right: 10px ">
            <h1>REPORTE DE GANANCIAS POR REVISTA</h1>
        </div>



        <div class=" d-flex align-items-center me-auto">
            <form>
                <label>Fecha inicial</label>
                <input style="width: 140px; " type="date" name="fechaInicial" />
                <label style="padding-left: 8px">Fecha final</label>
                <input style="width: 140px;" type="date" name="fechaFinal" />
                <input type="submit" value="Mostrar" />
            </form>
        </div>

        <div class=" d-flex align-items-center">
            <a class="btn btn-outline-primary" href="#">EXPORTAR REPORTE</a>
        </div>
    </div>

    <div class="contenedor d-inline-flex tabla">
        INGRESO TOTAL:
        80
    </div>
    <div class="contenedor d-inline-flex tabla">
        COSTO TOTAL:
        80
    </div>
    <div class="contenedor d-inline-flex tabla">
        GANANCIA TOTAL:
        80
    </div>
    <br>
    <br>
    <div>
        <table class="table tabla">
            <thead class="table-dark">
                <tr class="bordes">
                    <td colspan="2"><strong>Revista: </strong> Las historias de lol </td>
                    <td colspan="3"><strong>Total de ingresos: </strong> 300</td>
                </tr>
                <tr class="bordes">
                    <td colspan="2"><strong>Editor: </strong> NombreEditor</td>
                    <td colspan="3"><strong>Total de costos: </strong> 100</td>
                </tr>
                <tr class="bordes">
                    <td colspan="2"><strong>Numero de suscripciones: </strong> 53</td>
                    <td colspan="3"><strong>Total de ganancias: </strong> 200</td>
                </tr>
                <tr>
                    <th>NOMBRE DE USUARIO</th>
                    <th>FECHA DE SUSCRIPCION</th>
                    <th>INGRESO</th>
                    <th>COSTO</th>
                    <th>GANANCIA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brayan</td>
                    <td>21/12/21</td>
                    <td>300</td>
                    <td>100</td>
                    <td>200</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>