<div class="contenedor">
  <div>
    <div class="cuadrado"></div>
    <div>
      <mat-card class="tamano redondear">
        <div>
          <mat-card-header id="header" class="centrar">
            <br />
            Nueva revista
          </mat-card-header>
        </div>
        <form (ngSubmit)='publicarRevista()' autocomplete="off" [formGroup]="miFormulario">
          <mat-form-field class="full-width elemento" appearance="legacy">
            <mat-label>Nombre de revista</mat-label>
            <input formControlName="nombre" type="text" matInput />
          </mat-form-field>

          <mat-form-field class="full-width" style="font-size: 23px;" appearance="outline">
            <mat-label>Descripcion</mat-label>
            <textarea formControlName="descripcion" class="text-area" matInput></textarea>
          </mat-form-field>

          <div class="subtitulo">Categorias</div>
          <div *ngIf="!hayCategorias" class="form-text text-danger">
            Almenos selecciona una categoria
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Seleccionar</mat-label>
            <mat-select>
              <mat-option *ngFor="let categoria of allCategorias" [value]="categoria"
                (click)="agregarCategoria(categoria)">
                {{categoria | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-chip-list>
            <mat-chip color="accent" selected *ngFor="let categoria of categorias">
              {{categoria | titlecase}}
              <button matChipRemove>
                <mat-icon (click)="cancelarCategoria(categoria)">cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
          <br>
          <div class="subtitulo">Etiquetas</div>

          <div *ngIf="!hayEtiquetas" class="form-text text-danger">
            Almenos selecciona una etiqueta
          </div>

          <mat-form-field appearance="outline">
            <mat-label>Seleccionar</mat-label>
            <mat-select>
              <mat-option *ngFor="let etiqueta of allEtiquetas" [value]="etiqueta" (click)="agregarEtiqueta(etiqueta)">
                {{etiqueta | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip color="warn" selected *ngFor="let etiqueta of etiquetas" [selectable]="selectable"
                [removable]="removable" (removed)="remove(etiqueta)">
                {{etiqueta | titlecase}}
                <button matChipRemove *ngIf="removable">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="Agregar nueva etiqueta" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>

          <div *ngIf="costoMesInvalido" class="form-text text-danger">
            Ingresa un valor valido
          </div>
          <mat-form-field class="full-width elemento" appearance="outline">
            <mat-label>Costo de suscripcion por mes</mat-label>
            <input formControlName="costoMes" type="number" matInput />
          </mat-form-field>
          
          <div *ngIf="costoAnioInvalido" class="form-text text-danger">
            Ingresa un valor valido
          </div>
          <mat-form-field class="full-width elemento" appearance="outline">
            <mat-label>Costo de suscripcion por año</mat-label>
            <input formControlName="costoAnio" type="number" matInput />
          </mat-form-field>
          

          
          <div class="elemento">
            <label>Fecha de publicacion: </label>
            <input formControlName="fechaPublicacion" type="date" class="select-date" />
          </div>
          <mat-divider></mat-divider>
          <br>
          <mat-form-field class="full-width " appearance="outline">
            <mat-label>Nombre primer volumen</mat-label>
            <input formControlName="nobrePrimerVolumen" type="text" matInput />
          </mat-form-field>

          <input class="invisible" type="file" (change)="fileUpload($event)" #archivoInput />

          <div *ngIf="!archivoSubido" class="form-text text-danger">
            Debes subir el primer volumen
          </div>
          <button mat-raised-button type="button" class="full-width elemento" color="primary" (click)="archivoInput.click()">
            Subir primer volumen
          </button>
          <div class="boton">
            <button mat-raised-button class="elemento" type="submit" color="accent">
              Publicar
            </button>
          </div>
        </form>
        <mat-card-content id="contenido"> </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>